{% extends 'gouda/base.html' %}
{% load i18n %}
{% block title %}{% trans "Monitoring network" %} {{object}} {% endblock %}
{% block style %}
{{ block.super }}
<link rel="stylesheet" href="//unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>
<link rel="stylesheet" href="//unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.css"/>
<link rel="stylesheet" href="//unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.Default.css"/>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/static/css/mapstor.css"/>
<link rel="stylesheet" href="/static/css/leaflet.wmslegend.css"/>
<style>
li > a > img {
  height: 2em;
  padding-right: 1em;
}
</style>
{% endblock %}
{% block script %}
{{ block.super }}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{api_key}}" async defer></script>
<script type="text/javascript" src="//unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
<script type="text/javascript" src="//unpkg.com/leaflet.gridlayer.googlemutant@latest/dist/Leaflet.GoogleMutant.js"></script>
<script type="text/javascript" src="//unpkg.com/leaflet.markercluster@1.0.5/dist/leaflet.markercluster.js"></script>
<script type="text/javascript" src="//unpkg.com/esri-leaflet@2.1.1/dist/esri-leaflet.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/betterwms.js"></script>
<script type="text/javascript" src="/static/js/mwmaps.js"></script>
<script type="text/javascript" src="/static/js/leaflet.wmslegend.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment-with-locales.min.js"></script>
<script>

function loadWells(map, search) {
	let url = '/locs'  
	if (search) {
		// add options to query string
		url += search
	}
	return $.getJSON(url, function(data) {
		bounds = new L.LatLngBounds();
		$.each(data, function(key,well) {
			// create a marker with label and popup
			marker = L.marker([well.lat, well.lon],{title:well.name, icon: icons[well.color] || icons.grey});
			markers[well.id] = marker;
			marker.bindPopup("Loading...",{maxWidth: "auto"});
			marker.bindTooltip(well.name,{permanent:true,className:"label",opacity:0.7,direction:"top",offset:[0,-10]});
			marker.on("click", function(e) {
				var popup = e.target.getPopup();
			    $.get("/pop/"+well.id)
				    .done(function(data) {
				        popup.setContent(data);
				        popup.update();
				    })
				    .fail(function() {
				    	popup.closePopup();
				    });
			});
			marker.addTo(map);
			bounds.extend(marker.getLatLng());
			
			// add well to sidebar
			let html = `<a class="list-group-item" href="/net/well/${well.id}" onmouseover="showMarker(${well.id})" onmouseout="hideMarker(${well.id})"`
			if (well.latest && well.latest.date) {
				html += ` title="laatst gezien: ${well.latest.date} (${well.latest.since} geleden)"`
			}
			html += `><span><img class="bullet" src="/static/bullet_ball_${well.color}.png"></img>${well.name}</span>`
			if (well.address) {
				html += `<br/><div class="text-muted"><small>${well.address}</small></div>`
			}
			html += '</a>'
			$("#list").append(html)
		})
		$("#badge").html(`${data.length}`)
		return bounds
	})
}

$(function() {

	moment.locale('nl-NL')
	
	const map = initMap('map',{{options|safe}});
	const boundsRestored = restoreBounds(map)
	const options = window.location.search
	loadWells(map, options).then(bounds => {
		if (!boundsRestored) {
			map.fit(bounds)
		}
	 	$("#list").height($("#map").height());
	 	$("#list").sortable();
	})
});

</script>
{% endblock %}
{% block content %}
<div class="full adjust container-fluid">
<div class="full row row-fluid">
<div id="map" class="full col-sm-10"></div>
{% block list %}
<div id="list" class="list-group scroll col-sm-2">
<a href="#" class="list-group-item active">{%trans "Wells"%}<span id="badge" title='{% trans "Number of wells" %}' class="badge"></a>
</div>
{% endblock list %}
</div>
</div>
{% endblock %}
